.test-card {

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 15px;
      border: 2px solid var(--border-color);
      border-radius: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: var(--primary-bg-color);
        border: 2px solid var(--primary-bg-color);
        // border: 2px solid rgb(204, 204, 204);
      }
    }
  }
}